
.container, .container-fluid {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  position: relative;
  width: 100%;
}

.container-left, .container-right {
  box-sizing: border-box;
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  position: relative;
  width: 100%;
}

.container.no-gutter,
.container-fluid.no-gutter,
.container-left.no-gutter,
.container-right.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

@each $container in map_keys($containers) {
  @include media-breakpoint-up($container, $breakpoints) {
    .container {
      max-width: map-get($containers, $container);
    }

    .container-left {
      $width: map-get($containers, $container);
      max-width: calc(#{$width} + (100% - #{$width}) / 2);
    }

    .container-right {
      $width: map-get($containers, $container);
      margin-left: calc((100% - #{$width}) / 2);
      max-width: calc(#{$width} + (100% - #{$width}) / 2);
    }
  }
}
