
* {
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

h1 {
    font-size: 2em;
    line-height: .75;
    margin: .75em 0;
}

h2 {
    font-size: 1.5em;
    line-height: 1;
    margin: 1em 0;
}

html {
    font: normal 100%/1.5 sans-serif, serif;
}

[class*="col-"], .col {
    background: rgba(255, 0, 0, .125);
    outline: 1px solid rgba(255, 0, 0, .25);
    overflow: hidden;
    text-overflow: ellipsis;
}

[class*="col-"]:empty::before, .col:empty::before {
    content: attr(class);
    font-size: 50%;
    line-height: 3;
    white-space: nowrap;
}

[class*="row-"], .row {
    background: rgba(0, 0, 255, .125);
    outline: 1px solid rgba(0, 0, 255, .25);
}

